extends base.pug
block content
    .container
      .quote #{quote}
      .author - #{author}

//- doctype html
//- html(lang="en")
//-   head
//-     title Quotepaper
//-     link(rel="stylesheet", href="index.css")
//-   body
//-     .container
//-       .quote #{quote}
//-       .author - #{author}